body{
  background-image: url(https://i.pinimg.com/originals/7a/12/5a/7a125a59f873dd311185adf50e272aeb.jpg);
}

.face{
  width: 600px;
  height: 600px;
  border-radius: 50%;
  margin: 10% auto;
  background: rgba(0,0,0, 0.8);
  position: relative;
  transform: translateY(-3px);
}
.hand{
  background-color: white;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.0s;
  transition-timing-function: cubic-bezier(0.5, 2.1, 0.5, 1);
  height: 5px;


}
.secHand{
  width: 250px;
  left: 50px
}
.minHand{
  width: 200px;
  left: 100px;
}
.hourHand{
  width: 150px;
  left: 150px;
}
